


  <div class="row" *ngFor="let teste of devices, let i = index">

   <div class="col-12 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-12">
        <h2>
          <span>{{now}}</span>
        </h2>
      </div>
      </div>


   <div class="row">
         <div class="col-12 col-md-4 col-lg-4">
          <div class="card-counter danger">
            <i class="fa fa-ticket"></i>
            <span class="count-numbers"><span class="count-numbers">{{teste.channels.temperatura}}</span></span>
            <span class="count-name">temperatura</span>

          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">{{teste.channels.solo}}</span>
            <span class="count-name">solo</span>
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
          <div class="card-counter info">
            <i class="fa fa-users"></i>
            <span class="count-numbers">{{teste.channels.umidade}}</span>
            <span class="count-name">umidade ambiente</span>
          </div>
        </div>
        </div>

   </div>
   <div class="col-12 col-md-4 col-lg-4">

   </div>
 </div>
